/* Name :wilson njeri*/
/* Date :09-27-2024*/
header > h1 {
    text-align: center;
    font-family: Impact, sans-serif;
    font-size: 3em;
  }
  
  nav > h1 {
    font-size: 1.2em;
    color: white;
    background-color: black;
    text-align: center;
  }
  
  article > h1 {
    font-size: 2em;
    font-family: cursive;
  }
  
  nav ul {
    list-style-type: none;
    line-height: 2em;
  }
  
  a {
    color: ivory;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }